.navbar-custom{
  background-color: rgba(58, 162, 192);
  background: linear-gradient(90deg,rgba(234, 239, 243, 1) 0%, rgba(58, 162, 192, 1) 100%);
}

#logo {
  width: 60px;
}

h1,h2,h3{
  font-family: "Poppins", Arial;
}

h1 .sonido{
  color:rgb(18, 77, 116);
}
h1 .vivo{
  color:rgb(216, 135, 36);
}