:root {
  --bs-primary: #ac6100;
  --bs-primary-rgb: 172, 97, 0;
}

.btn-primary {
  --bs-btn-bg: #FA9F2D;
  --bs-btn-border-color: #FA9F2D;
  --bs-btn-color: #0A0F0A;
  --bs-btn-hover-bg: #206C9D;
  --bs-btn-hover-border-color: #206C9D;
  --bs-btn-hover-color: #fff;
}

.navbar-custom {
  background-color: rgba(58, 162, 192);
  background: linear-gradient(90deg, rgba(234, 239, 243, 1) 0%, rgba(58, 162, 192, 1) 100%);
}

#logo {
  width: 60px;
}

.sv-logo-title {
  font-family: "Poppins", Arial;
  font-size: xx-large;
}

h1,
h2,
h3 {
  font-family: "Poppins", Arial;
}

.sonido {
  color: rgb(18, 77, 116);
}

.vivo {
  color: rgb(216, 135, 36);
}


.main-custom-margin {
  margin-top: 100px;
}

.custom-lb-container {
  background-color: rgb(242, 242, 255);
}

.producto-img {
  height: 200px;
  object-fit: cover;
  background-color: #eee;
}


.footer {
  background-color: rgb(32, 108, 157);
}

.orange-btn {
  background-color: rgb(250, 159, 45);
}

.orange-btn:hover {
  background-color: rgb(224, 138, 21);
}

.btn.orange-btn:active {
  background-color: rgb(196, 118, 10);
  border-color: rgb(196, 118, 10);
  color: #fff;
}

.campo-error {
  border: 2px solid #a3242f;
  background-color: #fbe9ea;
}